{% extends 'base.html.twig' %}

{% block title %}Liste des tickets{% endblock %}

{% block body %}
    <h1>Liste des tickets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.category.name }}</td>
                <td>{{ ticket.status ? 'Ouvert' : 'Fermé' }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">Voir</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucuns tickets</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_ticket_new') }}">Créer un nouveau ticket</a>
{% endblock %}
